html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
footer {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  
  background-position: center;
  padding: 41px 0 71px 0;
  height: 768px;
}
.header__logo {
  width: 101.618px;
  height: 23px;
  margin: 0 auto;
  margin-bottom: 308px;
}
img {
  display: block;
  max-width: 100%;
}
.text_header1 {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #ffff;
  text-align: center;
}
.text_header2 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #ffff;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
p,
ul {
  padding: 0;
  margin: 0;
}
.scroll_down {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  color: #ffff;
  text-align: center;
  padding-top: 190px;
}

.logo_navigation {
  height: 18px;
  width: 79.53px;
}
.navigation_container {
  height: 65px;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.container1 {
  border-style: none none ridge;
  height: 25em;
  height: 65px;
}
.navbar_text {
  display: flex;
  justify-content: flex-start;
}
.navigation_text {
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #48555b;
  letter-spacing: 0.2rem;
}
.about {
  padding: 57px 0 118px 0;
}
.about_text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #48555b;
  text-align: center;
  font-weight: bold;
}

hr {
  border: none;
  color: #00a4e5;
  background-color: #00a4e5;
  height: 2px;
  width: 50px;
  text-align: center;
}
.story_inner {
  display: flex;
}

.h3_about {
  color: var(--text-color);
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.188px;
  margin-bottom: 30px;
}
.h3_about-color {
  color: #16ace8;
}
.p_text_about {
  color: var(--text-color);
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.188px;
  margin: 0;
}
.story_left {
  max-width: 406px;
  margin-right: 30px;
}
.story_item {
  font-size: 24px;
  color: #ffff;
  font-weight: 800;
  text-transform: uppercase;
  width: 140px;
  height: 224px;
  padding: 15px;
  margin-right: 20px;
  font-family: "Open Sans", sans-serif;
}
.story_right {
  display: flex;
  align-items: flex-end;
}
.story_item:nth-child(1) {
  background-image: url(img/Bitmap.png);
}
.story_item:nth-child(2) {
  background-image: url(img/Bitmap2.png);
}
.story_item:nth-child(3) {
  background-image: url(img/Bitmap3.png);
  margin-right: 0px;
}
.story_inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.service_title {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.306px;
  color: #48555b;
  text-align: left;
  margin-right: 105px;
}
.line_title {
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  text-align: left;
  margin-bottom: 50px;
  margin-left: 23px;
}
.title_text_p {
  letter-spacing: 0.2px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
}
.service_inner {
  display: flex;
  justify-content: space-evenly;
}
button {
  background-color: #00a4e5;
  width: 150px;
  height: 40px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffff;
  letter-spacing: 0.1em;
  border: none;
}
.container3 {
  max-width: 940px;
  margin: 0 auto;
}

.block {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.block1 {
  padding: 38px 0 39px 23px;
  border: 1px solid #e6e6e6;
  margin-right: 20px;
  max-width: 295px;
}
.block2 {
  padding: 38px 0 39px 23px;
  border: 1px solid #e6e6e6;
  margin-right: 20px;
}
.block3 {
  padding: 38px 0 39px 23px;
  border: 1px solid #e6e6e6;
  margin-right: 20px;
}
.block_title {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0, 43px;
  color: #48555b;
  margin-top: 20px;
  margin-bottom: 20px;
}
.block_text {
  letter-spacing: 0.19px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-right: 10px;
}
.container4 {
  background-image: url(img/background_construct.png);
  min-height: 498px;
  padding: 120px 0 231px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.getintouch_h2 {
  color: #48555b;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.15px;
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 35px;
  text-align: center;
}
.getintouch_button {
  display: block;
  margin: 0 auto;
}
.newsletter {
  background-color: #171819;
  display: flex;
  justify-content: center;
}
.newsletter_inner {
  margin: 0 auto;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}
.newsletter_h3 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.846px;
  padding: 3px 70px 0 0;
}
.newsletter_form {
  width: 250px;
  height: 40px;
  padding-left: 16px;
  border: 1px solid #979797;
}

.button_newsletter {
  width: 150px;
  height: 40px;
  background-color: #00a4e5;
  border: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.footer {
  background-color: #171819;
}
.company_title,
.contact_title,
.links_title {
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.85px;
  color: #ffffff;
  margin: 0 0 17px 0;
}
.text_company {
  color: #fff;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
  max-width: 250px;
  margin: 0;
}
.footer_inner {
  display: flex;
  justify-content: space-evenly;
}
.contact_links {
  display: flex;
}
.links_flex {
  padding-right: 50px;
}
.links_flex-item {
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.846px;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  white-space: nowrap;
}
.adress_text {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.846px;
}
.number_color{
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.846px;
  text-decoration: none;
}
.contact_mail {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.846px;
  text-decoration: none;
}
.social_png {
  width: 12px;
  height: 12px;
  margin-right: 15px;
}
.social_links {
  display: flex;
  padding-top: 28px;
}
.copyright {
  padding: 52px 0 23px 0;
  background-color: #171819;
}
.copyright_p {
  color: #fff;
  font-size: 11px;
  letter-spacing: 0.846px;
  margin: 0;
  padding-left: 571px;
}
.logo_company {
  padding-top: 10px;
  padding-bottom: 10px;
}
.contact{
  margin-right: 50px;
}
.social_links{
  margin-right: 50px;
}
/* Ваши оригинальные стили остаются без изменений */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
footer {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 41px 0 71px 0;
  height: 768px;
}
.header__logo {
  width: 101.618px;
  height: 23px;
  margin: 0 auto;
  margin-bottom: 308px;
}
img {
  display: block;
  max-width: 100%;
}
.text_header1 {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #ffff;
  text-align: center;
}
.text_header2 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #ffff;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
p,
ul {
  padding: 0;
  margin: 0;
}
.scroll_down {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  color: #ffff;
  text-align: center;
  padding-top: 190px;
}

.logo_navigation {
  height: 18px;
  width: 79.53px;
}
.navigation_container {
  height: 65px;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.container1 {
  border-style: none none ridge;
  height: 25em;
  height: 65px;
}
.navbar_text {
  display: flex;
  justify-content: flex-start;
}
.navigation_text {
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #48555b;
  letter-spacing: 0.2rem;
}
.about {
  padding: 57px 0 118px 0;
}
.about_text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #48555b;
  text-align: center;
  font-weight: bold;
}

hr {
  border: none;
  color: #00a4e5;
  background-color: #00a4e5;
  height: 2px;
  width: 50px;
  text-align: center;
}
.story_inner {
  display: flex;
}

.h3_about {
  color: var(--text-color);
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.188px;
  margin-bottom: 30px;
}
.h3_about-color {
  color: #16ace8;
}
.p_text_about {
  color: var(--text-color);
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.188px;
  margin: 0;
}
.story_left {
  max-width: 406px;
  margin-right: 30px;
}
.story_item {
  font-size: 24px;
  color: #ffff;
  font-weight: 800;
  text-transform: uppercase;
  width: 140px;
  height: 224px;
  padding: 15px;
  margin-right: 20px;
  font-family: "Open Sans", sans-serif;
}
.story_right {
  display: flex;
  align-items: flex-end;
}
.story_item:nth-child(1) {
  background-image: url(img/Bitmap.png);
}
.story_item:nth-child(2) {
  background-image: url(img/Bitmap2.png);
}
.story_item:nth-child(3) {
  background-image: url(img/Bitmap3.png);
  margin-right: 0px;
}
.story_inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.service_title {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.306px;
  color: #48555b;
  text-align: left;
  margin-right: 105px;
}
.line_title {
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  text-align: left;
  margin-bottom: 50px;
  margin-left: 23px;
}
.title_text_p {
  letter-spacing: 0.2px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
}
.service_inner {
  display: flex;
  justify-content: space-evenly;
}
button {
  background-color: #00a4e5;
  width: 150px;
  height: 40px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffff;
  letter-spacing: 0.1em;
  border: none;
}
.container3 {
  max-width: 940px;
  margin: 0 auto;
}

.block {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.block1 {
  padding: 38px 0 39px 23px;
  border: 1px solid #e6e6e6;
  margin-right: 20px;
  max-width: 295px;
}
.block2 {
  padding: 38px 0 39px 23px;
  border: 1px solid #e6e6e6;
  margin-right: 20px;
}
.block3 {
  padding: 38px 0 39px 23px;
  border: 1px solid #e6e6e6;
  margin-right: 20px;
}
.block_title {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0, 43px;
  color: #48555b;
  margin-top: 20px;
  margin-bottom: 20px;
}
.block_text {
  letter-spacing: 0.19px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-right: 10px;
}
.container4 {
  background-image: url(img/background_construct.png);
  min-height: 498px;
  padding: 120px 0 231px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.getintouch_h2 {
  color: #48555b;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.15px;
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 35px;
  text-align: center;
}
.getintouch_button {
  display: block;
  margin: 0 auto;
}
.newsletter {
  background-color: #171819;
  display: flex;
  justify-content: center;
}
.newsletter_inner {
  margin: 0 auto;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}
.newsletter_h3 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.846px;
  padding: 3px 70px 0 0;
}
.newsletter_form {
  width: 250px;
  height: 40px;
  padding-left: 16px;
  border: 1px solid #979797;
}

.button_newsletter {
  width: 150px;
  height: 40px;
  background-color: #00a4e5;
  border: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.footer {
  background-color: #171819;
}
.company_title,
.contact_title,
.links_title {
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.85px;
  color: #ffffff;
  margin: 0 0 17px 0;
}
.text_company {
  color: #fff;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
  max-width: 250px;
  margin: 0;
}
.footer_inner {
  display: flex;
  justify-content: space-evenly;
}
.contact_links {
  display: flex;
}
.links_flex {
  padding-right: 50px;
}
.links_flex-item {
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.846px;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  white-space: nowrap;
}
.adress_text {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.846px;
}
.number_color{
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.846px;
  text-decoration: none;
}
.contact_mail {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.846px;
  text-decoration: none;
}
.social_png {
  width: 12px;
  height: 12px;
  margin-right: 15px;
}
.social_links {
  display: flex;
  padding-top: 28px;
}
.copyright {
  padding: 52px 0 23px 0;
  background-color: #171819;
}
.copyright_p {
  color: #fff;
  font-size: 11px;
  letter-spacing: 0.846px;
  margin: 0;
  padding-left: 571px;
}
.logo_company {
  padding-top: 10px;
  padding-bottom: 10px;
}
.contact{
  margin-right: 50px;
}
.social_links{
  margin-right: 50px;
}


/* АДАПТИВНАЯ СЕТКА - только добавляем это */
@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  
  .story_inner {
    flex-direction: column;
    gap: 30px;
  }
  
  .story_left {
    max-width: 100%;
    margin-right: 0;
    text-align: center;
  }
  
  .story_right {
    justify-content: center;
  }
  
  .service_inner {
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .block1,
  .block2,
  .block3 {
    max-width: calc(50% - 20px);
    margin-right: 0;
  }
  
  .footer_inner {
    flex-wrap: wrap;
    gap: 30px;
  }
}



@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .container1 {
    border-style: none; /* Убираем все границы */
    border-bottom: none; /* Убираем нижнюю границу */
  }
  .header {
    height: auto;
    min-height: 500px;
    padding: 20px 0 40px 0;
  }
  .text_company {
    text-align: center;
    margin: 0 auto;
  }
  .text_company {
    text-align: center;
    margin: 0 auto;
  }
  .social_links {
    justify-content: center;
    margin-right: 0;
  }
  .logo_company {
    display: flex;
    justify-content: center;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 0;
  }
  button {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .button_newsletter:focus {
    outline: none;
  }
  
  .header__logo {
    margin-bottom: 150px;
  }
  
  .text_header1 {
    font-size: 36px;
    letter-spacing: 0.2rem;
  }
  
  .scroll_down {
    padding-top: 100px;
  }
  
  .navigation_container {
    flex-direction: column;
    height: auto;
    gap: 15px;
  }
  
  .navbar_text {
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .navigation_text {
    padding: 0 15px;
    margin-bottom: 10px;
  }
  
  .block1,
  .block2,
  .block3 {
    max-width: 100%;
    margin: 0 0 20px 0;
  }
  
  .block {
    flex-direction: column;
  }
  
  .newsletter_inner {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
  
  .newsletter_h3 {
    padding: 0;
  }
  
  .contact_links {
    flex-direction: column;
    gap: 20px;
  }
  
  .links_flex {
    padding-right: 0;
  }
  
  .copyright_p {
    padding-left: 0;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .container1 {
    border-style: none;
    border-bottom: none;
  }
  .text_header1 {
    font-size: 28px;
    letter-spacing: 0.1rem;
  }
  
  .about_text {
    font-size: 16px;
  }
  
  .story_right {
    flex-direction: column;
    align-items: center;
  }
  
  .story_item {
    width: 100%;
    max-width: 300px;
    margin-right: 0;
    margin-bottom: 15px;
  }
  
  .service_title {
    margin-right: 0;
    text-align: center;
  }
  
  .line_title {
    margin: 0 auto 50px auto;
  }
  
  .getintouch_h2 {
    font-size: 24px;
  }
  
  .footer_inner {
    flex-direction: column;
    text-align: center;
  }
  
  .social_links {
    justify-content: center;
  }
}