html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100% !important; /* Важно: убираем фиксированную ширину */
}
.header {
  background-color: white;
  padding-top: 50px;
  max-width: 85%;
  margin: 0 auto;
}
.container {
  padding-bottom: 30px;
}
.line {
  width: 45%;
  height: 1px;
  display: block;
  float: left;
  background-color: #000000;
}

.name {
  font-weight: 700;
  font-style: normal;
  font-family: "Manrope", sans-serif;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: center;
  display: block;
  width: 10%;
  float: left;
  margin-top: 0;
}
/* Текст и кнопки */
.title_first-text {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  font-size: 52px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: center;
}
.title_two-text {
  font-weight: 500;
  font-style: normal;
  font-family: "Manrope", sans-serif;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0em;
  line-height: 1.4;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.header_button1 {
  width: 191px;
  height: 44px;
  border-radius: 9999px;
  border: none;
  background-color: #000000;
  font-weight: 700;
  font-style: normal;
  font-family: "Manrope", sans-serif;
  color: #eaf2d7;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.5;
  margin-right: 10px;
  text-decoration: none;
}
.header_button2 {
  width: 169px;
  height: 44px;
  border-radius: 9999px;
  border: none;
  background-color: #e27396;
  font-weight: 700;
  font-style: normal;
  font-family: "Manrope", sans-serif;
  color: black;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.5;
  text-decoration: none;
}
/*Фото и элементы под ними*/
.form_img {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; /* Добавляем перенос на планшетах */
  gap: 20px; /* Добавляем отступы между элементами */
  padding: 0 20px;
}
.form1 {
  width: 460px;
  height: 460px;
  background-color: #e27396;
  overflow: hidden;
  align-content: center;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  padding: 40px;
  margin: 0;
}

.first_img {
  width: 100%;
  max-height: 380px;
  border-radius: 40px;
  object-fit: cover;
}
.form2 {
  width: 460px;
  height: 460px;
  background-color: #f2cfcb;
  overflow: hidden;
  align-content: center;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  padding: 40px;
  margin: 0;
}
.two_img {
  width: 100%;
  max-height: 380px;
  object-fit: cover;
  border-radius: 200px 40px 200px 40px;
}
.form3 {
  width: 460px;
  height: 460px;
  background-color: #e27396;
  overflow: hidden;
  align-content: center;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  padding: 40px;
  margin: 0;
}
.three_img {
  width: 100%;
  max-height: 380px;
  object-fit: cover;
  border-radius: 40px 200px 200px 200px;
}
/*Раздел Про меня */
.about {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  max-width: 85%;
  position: relative;
  margin-bottom: 80px;
  padding: 0 20px;
}
.text-about_title {
  font-weight: 700;
  font-style: normal;
  font-family: "DynaPuff", system-ui;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: left;
}
.text-about {
  font-weight: 500;
  font-style: normal;
  font-family: "Manrope", sans-serif;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0em;
  line-height: 1.5;
  text-align: left;
  max-width: 480px;
  margin-top: -20px;
}
.logo {
  width: 246px;
  height: 246px;
  margin: 60px auto;
}
.elements {
  width: 295px;
  height: 155px;
  display: block;
  overflow: hidden;
  opacity: 0.3;
  transform: rotate(211deg);
  z-index: 0;
  border-radius: 100%;
  border: 1px solid #000000;
  position: absolute;
  bottom: 0px;
}
.elements2 {
  width: 295px;
  height: 155px;
  display: block;
  overflow: hidden;
  opacity: 0.3;
  transform: rotate(-3deg);
  z-index: 0;
  border-radius: 100%;
  border: 1px solid #000000;
  position: absolute;
  bottom: 0px;
}
/*Про магазин и фото */
.shop_text {
  font-family: "DynaPuff", system-ui;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: left;
  padding-left: 220px;
}
.shop_title {
  display: flex;
  justify-content: space-between;
}

.img_shop1 {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.img_shop {
  width: 100%;
  max-width: 1000px;
  height: 400px;
  overflow: hidden;
  align-content: center;
  border-radius: 40px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 20px;
}
.img_shop-line {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  overflow: hidden;
  align-content: center;
  border-radius: 40px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 0 20px;
  gap: 10px;
}
.img_shop2 {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 40px;
}
.img_shop3 {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 40px;
}
/* Секция с вопросами */
.question {
  background-color: #efcfe3;
  width: 100%;
  padding: 80px 20px;
  margin-bottom: 0;
}
.question_title-text {
  font-family: "DynaPuff", system-ui;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: left;
  padding-left: 0;
  text-align: center;
  margin-bottom: 50px;
}

.all_answers_and_question {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.answers_title1,
.answers_title2,
.answers_title3 {
  font-weight: 700;
  font-style: normal;
  font-family: "Manrope", sans-serif;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.025em;
  line-height: 1.5;
  text-align: left;
}
.answers1,
.answers2,
.answers3 {
  padding: 0 20px;
  flex: 1;
  min-width: 250px;
}
.answers_text {
  text-align: left;
  font-weight: 500;
  font-style: normal;
  font-family: "Manrope", sans-serif;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.5;
}
.about_delivery {
  background-color: #efcfe3;
  width: 100%;
  padding: 80px 20px;
}
.delivery_title {
  padding-left: 0;
  text-align: center;
}
.delivery_title-text {
  font-family: "DynaPuff", system-ui;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
}
.text_delivery {
  font-weight: 700;
  font-style: normal;
  font-family: "Manrope", sans-serif;
  color: #000000;
  font-size: 32px;
  letter-spacing: -0.05em;
  line-height: 1.3;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.elements3 {
  width: 780px;
  height: 409px;
  overflow: hidden;
  opacity: 0.3;
  transform: rotate(134deg);
  z-index: 0;
  border-radius: 100%;
  border: 1px solid #000000;
  margin: auto;
  position: relative;
  top: 18%;
}

.footer1 {
  background-color: #efcfe3;
  width: 100%;
  padding: 50px 20px;
}

.socials_icons {
  display: flex;
  justify-content: center;
  padding-top: 0;
  gap: 20px;
}
.instagram {
  width: 50px;
  height: 32px;
}
.vk {
  width: 50px;
  height: 32px;
}
.telegram {
  width: 50px;
  height: 32px;
}
.text_footer {
  text-align: center;
  font-style: normal;
  font-family: "Manrope", sans-serif;
  opacity: 0.3;
}
.text_last {
  padding-top: 40px;
}

@media screen and (max-width: 1180px) {
  .form_img {
    justify-content: center;
    gap: 25px;
  }
  
  .form1, .form2, .form3 {
    width: 400px;
    height: 400px;
  }
  
  .shop_text {
    padding-left: 0;
    text-align: center;
  }
  
  .question_title-text {
    padding-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 95%;
    padding-top: 30px;
  }
  
  .form_img {
    gap: 20px;
  }
  
  .form1, .form2, .form3 {
    width: 350px;
    height: 350px;
    padding: 30px;
  }
  
  .first_img, .two_img, .three_img {
    max-height: 290px;
  }
  
  .about {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .text-about_title {
    text-align: center;
  }
  
  .text-about {
    text-align: center;
    max-width: 100%;
  }
  
  .img_shop, .img_shop2, .img_shop3 {
    height: 350px;
  }
  
  .img_shop-line {
    flex-direction: column;
    gap: 20px;
  }
  
  .all_answers_and_question {
    flex-direction: column;
    align-items: center;
  }
  
  .answers1, .answers2, .answers3 {
    text-align: center;
    padding: 0;
  }
  
  .answers_title1, .answers_title2, .answers_title3 {
    text-align: center;
  }
  
  .answers_text {
    text-align: center;
  }
  
  .elements, .elements2, .elements3 {
    display: none;
  }
}