* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  min-height: 680px;
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 7px 15px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 100px;
  margin-right: 0;
}

.img1 {
  margin-left: 20px;
  margin-top: 100px;
  max-width: 100%;
  height: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  min-height: 94px;
  margin-bottom: 50px;
  padding: 0 20px;
  flex-wrap: wrap;
}

.text1 {
  font-weight: 700;
  font-size: clamp(40px, 8vw, 90px);
  line-height: 91%;
  color: #130e27;
  font-family: "Montserrat", sans-serif;
}

.text2 {
  font-weight: 700;
  font-size: clamp(40px, 8vw, 90px);
  line-height: 91%;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.tittle {
  margin-left: 20px;
  margin-top: 30px;
  padding: 0 15px;
}

.something_text {
  margin-left: 20px;
  padding: 0 15px;
}

.something_txt {
  font-weight: 400;
  font-size: clamp(16px, 4vw, 20px);
  line-height: 140%;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-shadow: #130e27 4px 4px 4px;
  width: 100%;
  max-width: 494px;
  height: auto;
  margin-bottom: 30px;
}

.first {
  transition: 0.6s linear;
}

.first:hover {
  background-color: black;
}

.service {
  padding-top: 45px;
  padding-bottom: 68px;
  background-color: #fff;
  width: 100%;
  height: auto;
}

h2 {
  font-weight: 700;
  font-size: clamp(30px, 6vw, 50px);
  color: #130e27;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.red_tittle {
  color: #c62314;
  font-family: "Montserrat", sans-serif;
}

.service {
  padding: 60px 20px 80px; 
  background-color: #fff;
  width: 100%;
  height: auto;
}

.text {
  margin-bottom: 50px;
  text-align: center;
}

.tittle_service {
  font-weight: 700;
  font-size: clamp(30px, 6vw, 50px);
  color: #130e27;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.card_service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  height: auto;
  list-style: none;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
}

.service_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1 1 220px;
  max-width: 250px;
}

.service_icons {
  height: auto;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.service_icons img {
  max-width: 70px;
  height: auto;
}

.icon_txt {
  font-weight: 400;
  font-size: clamp(15px, 3vw, 17px);
  color: #161616;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0 5px;
  line-height: 1.4;
}


.story {
  background-color: #130e27;
  padding: 60px 20px;
  width: 100%;
}

.text_story {
  font-weight: 400;
  font-size: clamp(16px, 3vw, 20px);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
  line-height: 1.6;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-right: 0;
}

.story_button {
  transition: 0.6s linear;
  width: 270px;
  height: 64px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  background: transparent;
  border: 2px solid white;
}

.story_button:hover {
  background-color: #c62314;
  border-color: #c62314;
}

.price {
  width: 100%;
  height: auto;
  background-color: #efefef;
  padding: 50px 20px;
}

.text_price {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(30px, 6vw, 50px);
  color: #130e27;
  text-align: center;
  padding-top: 0;
  margin-bottom: 20px;
}

.pricing-card__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(18px, 3vw, 22px);
  text-align: center;
  color: #161616;
  padding-top: 0;
  margin-bottom: 30px;
}

.card_price {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style: none;
  max-width: 1200px;
  margin: 0 auto;
}

.card_p {
  border-radius: 5px;
  width: 100%;
  max-width: 340px;
  height: auto;
  min-height: 460px;
  background: #fff;
  margin-top: 0;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-card__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(35px, 5vw, 50px);
  color: #c62314;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.about_rate {
  font-family: "PT Serif", sans-serif;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 18px);
  text-align: center;
  color: #161616;
  padding-top: 0;
  line-height: 1.6;
  flex-grow: 1;
}

.pricing-card_button {
  text-align: center;
  margin-top: auto;
  width: 100%;
}


.button_price,
.button_price2,
.button_price3 {
  margin: 20px auto 0;
  border-radius: 5px;
  width: 205px;
  height: 50px;
  background: #130e27;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button_price:hover,
.button_price2:hover,
.button_price3:hover {
  background-color: #c62314;
}

.txt_button {
  font-weight: 500;
  font-size: clamp(16px, 3vw, 18px);
  color: #fff;
  margin-top: -25px;
  padding: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.pricing-card_button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}


footer {
  width: 100%;
  height: auto;
  min-height: 190px;
  background-color: #130e27;
  margin-top: 0;
}

.text_footer_black {
  font-family: "PT Serif", sans-serif;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 20px);
  color: #fff;
}

.footer__text_red {
  font-family: "PT Serif", sans-serif;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 20px);
  color: #c62314;
}

.footer_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}


@media (max-width: 768px) {
  .nav {
    margin-top: 50px;
    justify-content: center;
  }
  
  .img1 {
    margin-left: 0;
    margin-top: 50px;
  }
  
  header {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .tittle {
    margin-left: 0;
    text-align: center;
  }
  
  .something_text {
    margin-left: 0;
    text-align: center;
  }
  
  .service_item {
    flex: 1 1 45%;
  }
  
  .icon_txt {
    flex: 1 1 45%;
  }
  
  .footer_container {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .container {
    min-height: 500px;
  }
  
  .nav {
    margin-top: 30px;
  }
  .first {
    transition: none !important;
  }
  
  .first:hover {
    background-color: transparent !important;
    transform: none !important;
    box-shadow: none !important;
    border: 1px solid transparent !important;
  }

  }
  .story_button {
    width: 100%;
    max-width: 270px;
  }
  
  .card_p {
    min-height: 400px;
  }
  
  .service_item,
  .icon_txt {
    flex: 1 1 100%;
  }
